pydantic
scipy>=1.7
pandas
scikit-learn
matplotlib
pytest
torch
botorch @ git+https://github.com/pytorch/botorch@main#egg=botorch
gpytorch @ git+https://github.com/cornellius-gp/gpytorch@master#egg=gpytorch
multiprocess