name: Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Run black, flake8 and isort
        run: |
          pip3 install black==22.10.0 flake8==5.0.4 isort==5.10.1
          black --check bofire tests
          flake8 --verbose bofire tests
          isort . --check-only --verbose
      - name: Pyright
        run: pyright
      - name: Run tests
        run: |
          pip install .[testing]
          pytest tests
          pyright
